/* loader */

.stack-loader {
  position: fixed;
  inset: 0;
  background: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.stackly-text {
  font-size: 48px;
  font-weight: 700;
  color: #8080807e;
  letter-spacing: 12px;
  display: flex;
}

.stackly-text span {
  display: inline-block;
}

.stackly-bar {
  width: 0%;
  height: 3px;
  background: #A5C89E;
  margin-top: 10px;
}

/* NAV HOVER */

.nav-hover {
  overflow: hidden;
  display: inline-block;
}

.nav-hover span {
  display: block;
  position: relative;
}

.nav-hover span::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 100%;
}

/* HOME */

.round-text svg {
  width: 100%;
  height: 100%;
  fill: #000; /* text color */
}

/* footer */

.hover-link:hover {
  color: #84cc16;
  transition: 0.3s ease;
}

.social-hover:hover {
  color: #84cc16;
  transition: 0.3s ease;
}

.btn-hover:hover {
  background-color: #65a30d;
  transition: 0.3s ease;
}

.input-hover:focus {
  outline: none;
  border-color: #84cc16;
  transition: 0.3s ease;
}
